* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #545c61;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.hero {
  color: #ffffdb;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #a6b9c5;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background-color: #2a3c47;
}

.container-sm {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* Sample build section */
.categories {
  margin: 70px 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 300px;
  height: 350px;
}

.col-3 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0px auto 80px;
  position: relative;
  line-height: 60px;
  color: #2a3c47;
}

.title::after {
  content: "";
  background: #545c61;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

/*-----------offer-------*/

.offer {
  background: radial-gradient(#545c61, #2a3c47);
  margin-top: 80px;
  padding: 30px 0;
}

.offerp {
  color: black;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: black;
}

/*------testimonials-------*/

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px 40px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.fa.fa-quote-left {
  font-size: 34px;
  color: #2a3c47;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0px;
  color: #545c61;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #545c61;
  font-size: 16px;
}

.testomonial .col-3:hover {
  transform: translateY(-10px);
}

/*------Brands-----------------*/

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}
/*----------footer---------*/

.footer {
  background-color: #545c61;
  color: #ffffdb;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #ffffdb;
}

.footer h3 {
  color: #ffffdb;
  margin-bottom: 20px;
}

.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col1 {
  flex-basis: 30%;
}

.footer-col2 {
  flex: 1;
  text-align: center;
}

.footer-col2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col3,
.footer-col4 {
  flex-basis: 12%;
  text-align: center;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer li {
  display: block;
}

.footer hr {
  border: none;
  background-color: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}
